<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="shared/layout">
<head>
    <title>Home/Index</title>
</head>
<body>

<section layout:fragment="content" class="bordered">
    <p>this is home/index</p>

    <p th:text="${name}"></p>

    <div th:replace="home/first"></div>

    <div th:replace="home/methods::sayhi('tom')"></div>
    <div th:replace="home/methods::sayhi('jack')"></div>

    <div class="bordered">
        <p>use Component</p>
        <p th:text="${@basicConfig.getAppId()}"></p>
    </div>

    <div class="bordered">
        <p>use context</p>
        <p th:text="${springRequestContext.getContextPath()}"></p>
    </div>

</section>

</body>
</html>
